{{!-- <footer>
  <p>Author: {{name}}</p>
  <p><a href="mailto:hege@example.com">hege@example.com</a></p>
</footer> --}}
  <link rel="stylesheet" href="/css/footer.css">
<div class="main"></div>
<div class="footer">
    <div class="bubbles">
        <div class="bubble" style="--size:2.4474375710328076rem; --distance:6.000268249529393rem; --position:30.470951031040954%; --time:2.583886407506567s; --delay:-2.440665275176981s;"></div>
        <div class="bubble" style="--size:2.284362973472861rem; --distance:8.491142610512178rem; --position:86.3441870902596%; --time:3.040765478087416s; --delay:-3.3450834728187164s;"></div>
        <div class="bubble" style="--size:3.2367104451399387rem; --distance:9.048782808643345rem; --position:8.348067192343066%; --time:2.043757164466846s; --delay:-3.4453012072151603s;"></div>
        <div class="bubble" style="--size:2.8639543246039656rem; --distance:6.667632410409078rem; --position:83.00643084782048%; --time:2.3551570876712513s; --delay:-2.0045597266305486s;"></div>
        <div class="bubble" style="--size:5.190789643364592rem; --distance:9.306757984690375rem; --position:12.27256702334191%; --time:3.1860772187442206s; --delay:-3.860185937930563s;"></div>
        <div class="bubble" style="--size:5.605066596433278rem; --distance:9.57478614974173rem; --position:45.36177292440025%; --time:2.749159528036533s; --delay:-2.888697709015456s;"></div>
        <div class="bubble" style="--size:3.155679419302854rem; --distance:7.4682576167509955rem; --position:66.47317726977745%; --time:2.565216708902841s; --delay:-3.5688066843493025s;"></div>
        <div class="bubble" style="--size:5.720634666337376rem; --distance:9.109927121268356rem; --position:3.5151404447094556%; --time:3.3275943968577497s; --delay:-3.247316872322698s;"></div>
        <div class="bubble" style="--size:3.981694356673163rem; --distance:8.243550507192726rem; --position:89.43412402494037%; --time:3.7880634521684433s; --delay:-3.5945496438191267s;"></div>
        <div class="bubble" style="--size:5.503510849527665rem; --distance:8.225138489702974rem; --position:86.50928499715286%; --time:2.7271790574709946s; --delay:-2.8520788894494773s;"></div>
        <div class="bubble" style="--size:2.2690592431209664rem; --distance:7.541577872832239rem; --position:17.712819651738158%; --time:2.0404640020536124s; --delay:-3.746227963312592s;"></div>
        <div class="bubble" style="--size:4.829013555597463rem; --distance:6.596530103410798rem; --position:40.588770758207296%; --time:3.3425588383603415s; --delay:-2.8724469378801936s;"></div>
        <div class="bubble" style="--size:2.975538719649059rem; --distance:7.023650676479303rem; --position:26.60401146013355%; --time:3.222108740710346s; --delay:-2.3528468541677565s;"></div>
        <div class="bubble" style="--size:3.3753418498807726rem; --distance:6.012687425830571rem; --position:38.472214530662995%; --time:3.500780021763023s; --delay:-3.404883167594103s;"></div>
        <div class="bubble" style="--size:5.832658064557268rem; --distance:6.293340363301666rem; --position:98.49337220542644%; --time:2.934555431371743s; --delay:-2.5355670710437854s;"></div>
        <div class="bubble" style="--size:2.7811870303907034rem; --distance:9.417470305724642rem; --position:79.40634730578195%; --time:2.5642333839817146s; --delay:-3.3064084457552467s;"></div>
        <div class="bubble" style="--size:3.532211089618621rem; --distance:7.164533405914392rem; --position:25.336719429006525%; --time:2.5473125670831576s; --delay:-3.934408656375893s;"></div>
        <div class="bubble" style="--size:4.5495629659324rem; --distance:6.46845974270892rem; --position:63.346540277429966%; --time:3.0713555923100784s; --delay:-2.6565058847405663s;"></div>
        <div class="bubble" style="--size:4.965392293196567rem; --distance:8.66892588708481rem; --position:77.42287785358059%; --time:3.8765456426737717s; --delay:-2.615191222510835s;"></div>
        <div class="bubble" style="--size:5.180087307547195rem; --distance:6.829323143086899rem; --position:58.21534002670054%; --time:3.190969286940584s; --delay:-3.5161535232271977s;"></div>
        <div class="bubble" style="--size:5.149956978800895rem; --distance:6.8856497763758036rem; --position:18.959494291316602%; --time:3.050921330142234s; --delay:-3.676558352887139s;"></div>
        <div class="bubble" style="--size:5.5398891913956305rem; --distance:7.737116506731046rem; --position:49.084316890087415%; --time:3.5773710860734624s; --delay:-3.12393503998635s;"></div>
        <div class="bubble" style="--size:4.997577179006812rem; --distance:8.275431457251354rem; --position:70.01585428706358%; --time:3.5919341938056006s; --delay:-3.4372236306359385s;"></div>
        <div class="bubble" style="--size:4.966371420623317rem; --distance:6.6502099702118285rem; --position:-0.7667806474338379%; --time:3.617773278922762s; --delay:-2.9230622508899673s;"></div>
        <div class="bubble" style="--size:5.942430148638229rem; --distance:7.0604356707211045rem; --position:8.786134550668642%; --time:3.5280763211907527s; --delay:-3.9597010848612473s;"></div>
        <div class="bubble" style="--size:4.75139738870726rem; --distance:6.36674230866654rem; --position:59.273308742694525%; --time:2.562554310010172s; --delay:-2.1352908134149784s;"></div>
        <div class="bubble" style="--size:2.147262245855927rem; --distance:8.329573417389732rem; --position:75.2416773629269%; --time:3.3280068694912988s; --delay:-2.0025882898714955s;"></div>
        <div class="bubble" style="--size:2.6599094934304324rem; --distance:9.959452075946322rem; --position:47.76809389373583%; --time:2.911237391789852s; --delay:-2.3863214202302547s;"></div>
        <div class="bubble" style="--size:2.5023014060280273rem; --distance:6.4935188568385485rem; --position:-3.9428512403076033%; --time:2.4555182826530717s; --delay:-3.56433604660398s;"></div>
        <div class="bubble" style="--size:2.8932942363428307rem; --distance:6.675364423883401rem; --position:15.081927308421882%; --time:2.37498454235227s; --delay:-2.699456774414105s;"></div>
        <div class="bubble" style="--size:2.039071777782258rem; --distance:6.860968314328517rem; --position:85.07646656860412%; --time:2.5573331433595743s; --delay:-2.605865682919334s;"></div>
        <div class="bubble" style="--size:2.251622249846199rem; --distance:9.402193792471287rem; --position:40.01593701230778%; --time:3.123408137550208s; --delay:-3.5187428346185188s;"></div>
        <div class="bubble" style="--size:4.400856413023447rem; --distance:6.1347204807599525rem; --position:59.38341642851978%; --time:2.645356133414505s; --delay:-2.395846119056071s;"></div>
        <div class="bubble" style="--size:2.6844564899656955rem; --distance:9.08810608978628rem; --position:102.58775575387077%; --time:3.134414597375142s; --delay:-2.41328749031533s;"></div>
        <div class="bubble" style="--size:5.932682690004348rem; --distance:6.117235557810261rem; --position:68.44584313899784%; --time:3.2473147388270682s; --delay:-3.4538651847903354s;"></div>
        <div class="bubble" style="--size:2.1638332303586996rem; --distance:8.381177976735646rem; --position:33.17810143472923%; --time:2.8256246234035536s; --delay:-3.7855155076690292s;"></div>
        <div class="bubble" style="--size:2.7712849312895615rem; --distance:8.270979532045622rem; --position:13.402848204567892%; --time:2.026788645359334s; --delay:-2.9423638145915176s;"></div>
        <div class="bubble" style="--size:3.660835299129362rem; --distance:9.498645211086238rem; --position:-1.1996398667445352%; --time:3.9171922526694405s; --delay:-3.934933433386416s;"></div>
        <div class="bubble" style="--size:5.600107618878631rem; --distance:6.650358781893301rem; --position:59.72831945233868%; --time:3.4173140622092064s; --delay:-2.781196415625685s;"></div>
        <div class="bubble" style="--size:3.3579952725975986rem; --distance:8.736847211139324rem; --position:3.2690442770731014%; --time:2.458615905276842s; --delay:-3.0133248942213875s;"></div>
        <div class="bubble" style="--size:5.424854457784057rem; --distance:8.062571940051878rem; --position:49.34582259392574%; --time:2.0204973006882407s; --delay:-3.5169824946556516s;"></div>
        <div class="bubble" style="--size:3.9931067214107463rem; --distance:7.242273781697894rem; --position:49.06048219906855%; --time:3.025210307369536s; --delay:-3.682040253331038s;"></div>
        <div class="bubble" style="--size:3.4853434776376604rem; --distance:9.444545425837898rem; --position:100.68848382683244%; --time:3.690624462332797s; --delay:-3.002316875248122s;"></div>
        <div class="bubble" style="--size:4.090011533226777rem; --distance:8.088684797551338rem; --position:88.99453210431247%; --time:3.671228299411611s; --delay:-3.8129260308597677s;"></div>
        <div class="bubble" style="--size:3.084808574135561rem; --distance:8.900929966541005rem; --position:98.59501075234219%; --time:2.725203771506336s; --delay:-2.349573732783025s;"></div>
        <div class="bubble" style="--size:4.192335598423111rem; --distance:9.343666771536796rem; --position:11.088818741434991%; --time:2.156426642593936s; --delay:-3.7062458797117634s;"></div>
        <div class="bubble" style="--size:4.283013039261721rem; --distance:9.110471038929528rem; --position:25.367609075874004%; --time:3.0969479212836846s; --delay:-2.0874733347100825s;"></div>
        <div class="bubble" style="--size:5.277686757263058rem; --distance:6.446398627758183rem; --position:57.60223983721581%; --time:2.8404423954901614s; --delay:-2.552640136907243s;"></div>
        <div class="bubble" style="--size:3.222391789930297rem; --distance:7.2089115490200975rem; --position:33.849836381437285%; --time:2.1336216984137724s; --delay:-3.4044899872640846s;"></div>
        <div class="bubble" style="--size:4.3656197595034545rem; --distance:6.987381509631287rem; --position:18.302923211125783%; --time:3.443820642093426s; --delay:-2.7635292851463875s;"></div>
        <div class="bubble" style="--size:2.449225793972788rem; --distance:8.4585904481572rem; --position:9.768064066611872%; --time:2.9334005792587248s; --delay:-2.6891479613879348s;"></div>
        <div class="bubble" style="--size:2.9593382220077755rem; --distance:9.489188064101821rem; --position:86.28585855396118%; --time:3.1643523259184225s; --delay:-3.2497312711060777s;"></div>
        <div class="bubble" style="--size:2.841054080386119rem; --distance:9.61668219664012rem; --position:53.55000127072596%; --time:3.175019258005909s; --delay:-3.8140411284637366s;"></div>
        <div class="bubble" style="--size:2.9956790244647076rem; --distance:9.532387396820788rem; --position:20.620167657365474%; --time:3.016533460173566s; --delay:-3.8148992824826755s;"></div>
        <div class="bubble" style="--size:5.721752413332923rem; --distance:6.086089618488207rem; --position:82.59842323491911%; --time:3.968302538322905s; --delay:-3.8089787584044594s;"></div>
        <div class="bubble" style="--size:2.157576125875491rem; --distance:7.9992115840597195rem; --position:50.39017740469037%; --time:2.5975167037702533s; --delay:-3.467604271401942s;"></div>
        <div class="bubble" style="--size:3.4727347677120157rem; --distance:8.519294389809655rem; --position:90.61639363790721%; --time:2.393463207320163s; --delay:-2.574171458973182s;"></div>
        <div class="bubble" style="--size:2.710598152780192rem; --distance:9.134520852238344rem; --position:38.585580019853445%; --time:2.2728072545707736s; --delay:-2.5497081296956s;"></div>
        <div class="bubble" style="--size:3.719279309262255rem; --distance:7.494152292524597rem; --position:78.05727642876876%; --time:2.0427159328093505s; --delay:-3.5676839468725463s;"></div>
        <div class="bubble" style="--size:3.5640743556997627rem; --distance:9.31528972204228rem; --position:9.359710510351052%; --time:3.7732668144050097s; --delay:-2.9398569426137375s;"></div>
        <div class="bubble" style="--size:5.594568961725283rem; --distance:6.583179822328471rem; --position:49.76701746622186%; --time:3.731309778741917s; --delay:-3.002112659319514s;"></div>
        <div class="bubble" style="--size:2.6705348327855463rem; --distance:6.831305801137rem; --position:39.45754311633054%; --time:2.1904514526340275s; --delay:-3.4140245429324305s;"></div>
        <div class="bubble" style="--size:2.950358182748751rem; --distance:8.98455343988288rem; --position:37.03123296640343%; --time:2.153575850169279s; --delay:-3.8441809699544414s;"></div>
        <div class="bubble" style="--size:5.60013060608405rem; --distance:8.192733060940924rem; --position:82.67081396797096%; --time:2.3384305043600837s; --delay:-3.1626273277564514s;"></div>
        <div class="bubble" style="--size:3.5832471155080263rem; --distance:8.375404077625415rem; --position:20.832728511884714%; --time:2.9414353040941266s; --delay:-2.7240765320054883s;"></div>
        <div class="bubble" style="--size:2.7965994306512023rem; --distance:8.951845084773783rem; --position:77.8737120464325%; --time:3.075685968177097s; --delay:-3.170982089403599s;"></div>
        <div class="bubble" style="--size:4.101398156560483rem; --distance:7.660571504186862rem; --position:82.12896427568978%; --time:3.524083945516072s; --delay:-3.0022591441919424s;"></div>
        <div class="bubble" style="--size:3.6865387720702083rem; --distance:8.881463206983145rem; --position:53.06977586880215%; --time:3.3533972673505823s; --delay:-2.639820214350953s;"></div>
        <div class="bubble" style="--size:2.7238201248314917rem; --distance:7.164649108883705rem; --position:6.86027582630701%; --time:3.7064012395887436s; --delay:-2.1165747187149395s;"></div>
        <div class="bubble" style="--size:4.7528330770924185rem; --distance:7.782873058453603rem; --position:58.98883668531118%; --time:2.9537743599094215s; --delay:-3.071036435583355s;"></div>
        <div class="bubble" style="--size:3.0624884087394886rem; --distance:8.07945123313153rem; --position:78.86319070830004%; --time:2.5976500606866417s; --delay:-3.278234761959822s;"></div>
        <div class="bubble" style="--size:4.9719482992581785rem; --distance:6.759852016404248rem; --position:65.74500419265924%; --time:3.090553313097048s; --delay:-2.4098575369206383s;"></div>
        <div class="bubble" style="--size:3.441578812227652rem; --distance:9.34794461436401rem; --position:11.749901095816636%; --time:2.2092728414244736s; --delay:-3.307913209644875s;"></div>
        <div class="bubble" style="--size:5.923676145707661rem; --distance:9.29385640980458rem; --position:51.177177865705445%; --time:2.118876069102511s; --delay:-3.9814699740765573s;"></div>
        <div class="bubble" style="--size:3.2541111164371275rem; --distance:7.634539495218882rem; --position:84.96894007176262%; --time:3.964601101840345s; --delay:-3.8012940404335036s;"></div>
        <div class="bubble" style="--size:5.537745951694039rem; --distance:7.3865076830127405rem; --position:-0.9155598805561187%; --time:3.384019583559173s; --delay:-3.677404029366045s;"></div>
        <div class="bubble" style="--size:4.1136087790932585rem; --distance:7.797401016525541rem; --position:32.49283910507577%; --time:3.021287835146928s; --delay:-3.7927272771503153s;"></div>
        <div class="bubble" style="--size:4.7916807335227345rem; --distance:6.94553919754568rem; --position:95.10519435170644%; --time:3.6882240887961757s; --delay:-2.1594038349872s;"></div>
        <div class="bubble" style="--size:4.002496861564763rem; --distance:8.639564150255996rem; --position:67.90223188604857%; --time:2.0078008190933465s; --delay:-2.959520855351256s;"></div>
        <div class="bubble" style="--size:3.585010970187227rem; --distance:9.770354715963311rem; --position:21.36259827510257%; --time:2.4168896612678092s; --delay:-3.322986276185047s;"></div>
        <div class="bubble" style="--size:4.844369489709345rem; --distance:6.444389826016691rem; --position:3.467599134255794%; --time:2.150096443432384s; --delay:-3.768056365476252s;"></div>
        <div class="bubble" style="--size:5.065577129454285rem; --distance:6.527538790825038rem; --position:98.50923884630063%; --time:2.062551462230107s; --delay:-2.3386210982673714s;"></div>
        <div class="bubble" style="--size:2.538011553177787rem; --distance:9.23208607712413rem; --position:97.4711455352686%; --time:2.8044439017252416s; --delay:-3.746343216895617s;"></div>
        <div class="bubble" style="--size:2.0600350995658188rem; --distance:8.668176395096257rem; --position:12.65556275893519%; --time:2.9161732108944403s; --delay:-2.886509937390464s;"></div>
        <div class="bubble" style="--size:3.246271751813115rem; --distance:9.755614189199324rem; --position:72.694130522016%; --time:3.3774816886081003s; --delay:-3.746272529490968s;"></div>
        <div class="bubble" style="--size:3.0325866597803453rem; --distance:6.9112742687730835rem; --position:-0.08089309889951757%; --time:2.9494238576381755s; --delay:-2.2757223413751957s;"></div>
        <div class="bubble" style="--size:4.175806435844691rem; --distance:9.978831452665403rem; --position:56.05050543037422%; --time:2.954924116417362s; --delay:-3.3360732488007914s;"></div>
        <div class="bubble" style="--size:2.433745285471262rem; --distance:6.235161661713908rem; --position:38.80847438019007%; --time:3.0974275828343307s; --delay:-3.956522960113601s;"></div>
        <div class="bubble" style="--size:2.0315258280854263rem; --distance:7.758182303846749rem; --position:70.20467343184322%; --time:2.2777976952972483s; --delay:-2.8269309749151397s;"></div>
        <div class="bubble" style="--size:5.7837542155694575rem; --distance:7.174430282497521rem; --position:41.539318759120434%; --time:2.9377976352672177s; --delay:-3.639906828928284s;"></div>
        <div class="bubble" style="--size:5.363243816176721rem; --distance:9.979449258130384rem; --position:35.60750736730325%; --time:3.8375504716349202s; --delay:-2.239378850056735s;"></div>
        <div class="bubble" style="--size:4.601813471085156rem; --distance:9.678439295474032rem; --position:18.147767978219377%; --time:2.735698513887496s; --delay:-3.618517745810468s;"></div>
        <div class="bubble" style="--size:5.18388908126754rem; --distance:6.2190442288670065rem; --position:98.73120458458784%; --time:2.8925708656398244s; --delay:-2.4246112602377488s;"></div>
        <div class="bubble" style="--size:4.337809476949698rem; --distance:7.432672486580173rem; --position:83.38042992427464%; --time:2.089925674363143s; --delay:-2.9051226880063616s;"></div>
        <div class="bubble" style="--size:5.916146522356751rem; --distance:6.951194624599836rem; --position:104.8569792369576%; --time:2.3838939540204844s; --delay:-3.0055485500345505s;"></div>
        <div class="bubble" style="--size:4.463375173866319rem; --distance:8.579852923855501rem; --position:58.68026544270322%; --time:2.463325748575223s; --delay:-2.096088322989114s;"></div>
        <div class="bubble" style="--size:2.6778712801240347rem; --distance:7.885541140116582rem; --position:13.301719682497353%; --time:2.114534941103072s; --delay:-3.1986712788379514s;"></div>
        <div class="bubble" style="--size:5.16734712840482rem; --distance:7.9545493997620795rem; --position:3.2662213723600164%; --time:2.2469643221383375s; --delay:-2.8473673768706536s;"></div>
        <div class="bubble" style="--size:3.692839204779771rem; --distance:6.406110811718769rem; --position:103.19774045762793%; --time:3.2047270462191046s; --delay:-2.801742083760661s;"></div>
        <div class="bubble" style="--size:5.474608009597629rem; --distance:7.727060717130021rem; --position:39.16778945961057%; --time:2.0644474034111258s; --delay:-3.0020375090806657s;"></div>
        <div class="bubble" style="--size:4.643746914912796rem; --distance:6.614722755085923rem; --position:19.94251102441441%; --time:2.3756862108626753s; --delay:-2.9740413340889638s;"></div>
        <div class="bubble" style="--size:2.394355456389529rem; --distance:8.160368412407232rem; --position:89.2403150811459%; --time:3.3541834319625257s; --delay:-2.9221193790997724s;"></div>
        <div class="bubble" style="--size:4.007168939635306rem; --distance:6.706116131128854rem; --position:9.421171009377897%; --time:3.672284806800992s; --delay:-2.972716699365979s;"></div>
        <div class="bubble" style="--size:2.5521404926732574rem; --distance:7.933156081353606rem; --position:48.968007099527725%; --time:3.706689086121382s; --delay:-3.0298161844137677s;"></div>
        <div class="bubble" style="--size:4.516388402621514rem; --distance:9.792552382486786rem; --position:46.553580667667646%; --time:2.0315370742148455s; --delay:-2.722570702021757s;"></div>
        <div class="bubble" style="--size:5.09396964026335rem; --distance:6.566127177833865rem; --position:-2.297079782302196%; --time:2.1539338098564245s; --delay:-3.428107890484001s;"></div>
        <div class="bubble" style="--size:5.434987304140159rem; --distance:6.391681887293541rem; --position:20.529046927073118%; --time:2.7639797364351275s; --delay:-3.090682224577898s;"></div>
        <div class="bubble" style="--size:2.258555402726013rem; --distance:9.59461283143347rem; --position:46.839703450399064%; --time:2.274251637696236s; --delay:-2.1084266513327505s;"></div>
        <div class="bubble" style="--size:5.566073795321109rem; --distance:7.768901632980341rem; --position:48.82247564994394%; --time:2.9177633459280257s; --delay:-2.8930615135064643s;"></div>
        <div class="bubble" style="--size:3.963985671342966rem; --distance:8.28659897607221rem; --position:21.020783286044413%; --time:2.9490885358644947s; --delay:-3.664101974065144s;"></div>
        <div class="bubble" style="--size:3.0628938236974736rem; --distance:8.589604475967576rem; --position:3.1312792967610807%; --time:3.8117821968344643s; --delay:-2.4222533135037234s;"></div>
        <div class="bubble" style="--size:2.0451578256300555rem; --distance:6.649228150747786rem; --position:32.57095138234656%; --time:3.4278041797172736s; --delay:-2.705970700768616s;"></div>
        <div class="bubble" style="--size:5.925616308364981rem; --distance:7.958199434353458rem; --position:43.851644576399195%; --time:2.955890050832136s; --delay:-2.4847963358323923s;"></div>
        <div class="bubble" style="--size:4.153429414194739rem; --distance:7.980373280837388rem; --position:65.64281650521501%; --time:3.7352836176448885s; --delay:-3.632309834086427s;"></div>
        <div class="bubble" style="--size:2.0044427192373186rem; --distance:9.8940120517535rem; --position:11.396966691731748%; --time:3.347136605010441s; --delay:-3.524668285099022s;"></div>
        <div class="bubble" style="--size:2.083444792906084rem; --distance:6.172866250265624rem; --position:104.35651701211248%; --time:2.8125771559511987s; --delay:-2.0735684930437333s;"></div>
        <div class="bubble" style="--size:5.916488937682729rem; --distance:8.396431167742122rem; --position:9.749661471504673%; --time:3.6435624150787054s; --delay:-3.027735579524156s;"></div>
        <div class="bubble" style="--size:5.586948254117986rem; --distance:6.505799286711451rem; --position:39.8081191101745%; --time:3.1973611874122208s; --delay:-2.036175002947462s;"></div>
        <div class="bubble" style="--size:4.829250888786103rem; --distance:8.314960072944956rem; --position:20.401839165539158%; --time:3.4467759338225754s; --delay:-2.231230407642955s;"></div>
        <div class="bubble" style="--size:3.231549222770826rem; --distance:6.35486472770179rem; --position:81.7801502405387%; --time:3.6053936651368033s; --delay:-2.0978725031476326s;"></div>
        <div class="bubble" style="--size:2.9660830426633193rem; --distance:8.787048107113044rem; --position:75.85994388931807%; --time:2.543966363943282s; --delay:-3.95301199000963s;"></div>
        <div class="bubble" style="--size:4.7712407354311095rem; --distance:9.362881004061688rem; --position:83.27411812691962%; --time:3.439162644088728s; --delay:-3.680883797240083s;"></div>
        <div class="bubble" style="--size:5.440964555671509rem; --distance:6.952459439481968rem; --position:27.91432309722157%; --time:2.618846237058213s; --delay:-2.475066244025166s;"></div>
        <div class="bubble" style="--size:4.321190311507798rem; --distance:8.309125057483293rem; --position:41.53389763769894%; --time:2.1671747964619024s; --delay:-2.7718570492215466s;"></div>
        <div class="bubble" style="--size:3.24690114035037rem; --distance:8.28413235988511rem; --position:19.425598203682362%; --time:3.2116423117701007s; --delay:-3.684447635273962s;"></div>
        <div class="bubble" style="--size:2.294617351783195rem; --distance:9.675895776610407rem; --position:38.76787866945454%; --time:3.0154433393897784s; --delay:-3.1223932314203715s;"></div>
        <div class="bubble" style="--size:2.431593935584826rem; --distance:6.519222119932622rem; --position:59.124954396880426%; --time:2.1216275054892346s; --delay:-2.568977075139498s;"></div>
        <div class="bubble" style="--size:4.394712861682673rem; --distance:8.198540384199482rem; --position:31.467094182689323%; --time:3.498782492893878s; --delay:-2.5852812844550304s;"></div>
    </div>
    <div class="content">
        <div>
        <h1>CREATED BY SIKDER RAKIN</h1>
        </div>
        <div><a class="image" href="https://codepen.io/z-" target="_blank" style="background-image: url(&quot;https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/happy.svg&quot;)"></a>
            <p>©2021</p>
        </div>
    </div>
</div><svg style="position:fixed; top:100vh">
    <defs>
        <filter id="blob">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob"></feColorMatrix>
            <feComposite in="SourceGraphic" in2="blob" operator="atop"></feComposite>
        </filter>
    </defs>
</svg>